
<div [hidden]="route.children.length !== 0" >
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="codigo" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.idDepartamento}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Departamento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ver </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-button color="primary"  [routerLink] ="['ciudad/',element.idDepartamento]">
                <mat-icon>info</mat-icon>
            </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [length]="10" [pageSizeOptions]="[5,10, 50, 100]" aria-label="Select page" #DepartamentoPaginator>
    </mat-paginator>
    </div>
    
    <router-outlet></router-outlet>