<div class="example-container">
    <h2 class="center">Registrar Vehiculo</h2>
    <div>
        <form [formGroup]="form" (ngSubmit)="nuevoVehiculo($event)">
            <mat-form-field appearance="outline">
                <mat-label>Placa</mat-label>
                <input #input matInput type="text" placeholder="abc-123" formControlName="placa" maxlength="7">
                <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
            </mat-form-field>
            <div *ngIf="form.get('placa')?.errors && form.get('placa')?.touched">
                <p *ngIf="form.get('placa')?.hasError('maxlength') || form.get('placa')?.hasError('minlength')">
                    Placa inválida. Ej: abc-123
                </p>
                <p *ngIf="form.get('placa')?.hasError('required')">
                    Es un campo requerido
                </p>
            </div>
            <br> 
            <mat-form-field appearance="outline">
              <mat-label>Marca de vehículo</mat-label>
              <mat-select [(value)]="selectedMarca" formControlName="marca">
                <mat-option value="Toyota">Toyota</mat-option>
                <mat-option value="Chevrolet">Chevrolet</mat-option>
                <mat-option value="Renault">Renault</mat-option>
                <mat-option value="Mazda">Mazda</mat-option>
                <mat-option value="Mercedes">Mercedes</mat-option>
                <mat-option value="BMW">BMW</mat-option>
                <mat-option value="Alfa Romeo">Alfa Romeo</mat-option>
                <mat-option value="Audi">Audi</mat-option>
                <mat-option value="Ferrari">Ferrari</mat-option>
                <mat-option value="Peugeot">Peugeot</mat-option>
                <mat-option value="Porche">Porche</mat-option>
              </mat-select>
              
          </mat-form-field>
            <div *ngIf="form.get('marca')?.errors && form.get('marca')?.touched">
                <p *ngIf="form.get('marca')?.hasError('required')">
                    Es un campo requerido
                </p>
            </div>
            <br> 
            <mat-form-field appearance="outline">
                <mat-label>Modelo</mat-label>
                <input #input2 matInput type="text" placeholder="YYYY" formControlName="modelo" maxlength="4">
                <mat-hint align="end">{{input2.value?.length || 0}}/4</mat-hint>
            </mat-form-field>
            <div *ngIf="form.get('modelo')?.errors && form.get('modelo')?.touched">
                <p *ngIf="form.get('modelo')?.hasError('required')">
                    Es un campo requerido
                </p>
                <p *ngIf="form.get('modelo')?.hasError('min') || form.get('modelo')?.hasError('max')">
                    Modelos entre 1970 y 2022
                </p>
            </div>
            <br> 
            <mat-form-field appearance="outline">
                <mat-label>Tipo de vehículo</mat-label>
                <mat-select [(value)]="selectedTipo" formControlName="tipoVehiculo">
                  <mat-option value="Carro">Carro</mat-option>
                  <mat-option value="Camioneta">Camioneta</mat-option>
                  <mat-option value="Furgon">Furgon</mat-option>
                  <mat-option value="Campero">Campero</mat-option>
                </mat-select>
                
            </mat-form-field>
            <div *ngIf="form.get('tipoVehiculo')?.errors && form.get('tipoVehiculo')?.touched">
                <p *ngIf="form.get('tipoVehiculo')?.hasError('required')">
                    Es un campo requerido
                </p>
            </div>
    <br>  
            <mat-form-field appearance="outline">
                <mat-label>Capacidad</mat-label>
                <input matInput #input3 type="text" placeholder="1500Kg" formControlName="capacidad" maxlength="7">
                <mat-hint align="end">{{input3.value?.length || 0}}/7</mat-hint>
            </mat-form-field>
            <div *ngIf="form.get('capacidad')?.errors && form.get('capacidad')?.touched">
                <p *ngIf="form.get('capacidad')?.hasError('required')">
                    Es un campo requerido
                </p>
            </div>
    
            <div >
              <button type="submit" mat-raised-button color="primary" style="width: 150px;" [routerLink]="['/vehiculo/agregarvehiculo']" >
                  <mat-icon>save</mat-icon><span>Agregar</span>
              </button>
          </div>
      </form>
    </div>
    
    <button mat-fab color="white" style="float: left; left: 150px;" [routerLink]="['/vehiculo']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    </div>